<!DOCTYPE html>
<html lang="en">
<head>
  <script src="static/jquery/jquery.js"></script>
    <script src="static/main.js"></script>

   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<body style="background-color:#606982">
  <nav class="navbar navbar-expand-sm  navbar-dark" style="background-color:#A5ABBD;">
    <a class="navbar-brand" href="/">
     <img src="https://lh3.googleusercontent.com/MalKOxfAjD54Qm_nq_DvlQfdn9DC1kkVivCczPgJVH1aWxBdRAl-bEmszwVO359AdJoNelYh_HtOFUOvvzUo74KGlMd6P6x3QOQNx9waQdyGD_xlggl5dfHn580n3bK7U0Zpd4Eeu6UgOx1HMQdvOrc1y0SmWCNSo2JJR31sfQhfFsoWcupaOyel0Fk4AEYNKNtD6F3ODERrF-ioTjfRe_33YZGfHPmwqlzKXivOhQouyTKl6PPrMX3iE60z0SftiTa22MkHAuFfNyQViuzl55OGUX1fHJm85np0JxXrxzk0OZWx317f7r006eN14qv7DvM4DiIINjcpWa2qj-RlXXmk4xabvm0juEd8EUhBcbJXq-8zpiZUI-HntgzRBwRycfXh0H_uzxpugeSj76xunESC6-7p8iu7sfVGlFqyEVJE2ny4OpI7UeYLRKYscW6PkXg65NRa0HKFZ6HF2Mzwl3aBvttMvisUsBFV25LG0DWwHp03-IAf0x0bREpem67tNl9gWrz-Nr8oSNbPqeegppA4qxg3-x02TK5nScZmaoC_dFzabHHW0tGyX5_DaRyoHlJ_ACtnf9pqx0_OS04mA4GHksnDsVs2hzu5mA6tFiqNeBsJTmW9nCd1v5afvJJ-r8HZtE1vjXUyYSefSWUg5kRJX-L2qpNhGPtHeCRuFuwA1YarXgfIX08xN1A9x0FBZrGZzpfmoPrzIhwOtdiflV71=w423-h302-no?authuser=1" alt="logo"  style="width:100px;">
    </a>
      <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="#" style="color:"> Welcome </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/maps"> Maps </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/events"> Events </a>
    </li>
    </ul>
    <div class="col" style="margin-left: 45em">
    <script async src="https://cse.google.com/cse.js?cx=6e78ff24267732b82"></script>
    <div class="gcse-search"></div>
    </div>
  </nav>

<!-- Jumbotron -->
<div class="jumbotron "jumbotron-fluid style="background-color:#414656">
  <div class="container">
    <h1 style="font-family:verdana; font-size: 70px; text-align:center; color:white"> Welcome to InstaRally </h1>
  </div>
</div>

<div class="container">
  <h4 style="color:white; font-family:verdana; text-align:center; color:white"> Mission Statement: Due to 2020's massive growth regarding protesting, Team InstaRally has decided to create this webpage in order to better accomodate these protests.</h4> 
</div>
<div class="container">
  <p style="text-align: center">
   <img  src="https://images-ext-1.discordapp.net/external/kVRCw4BuLztCdU0g_NwiSgXdrgoaspIWyJOXxTyWSW0/https/wallpaperaccess.com/full/1778410.jpg?width=889&height=500" alt="blm protest">
  </p>
</div>
<div class="container">

  <footer class="container">
    <p style="text-align: center">
    <img src="https://lh3.googleusercontent.com/MalKOxfAjD54Qm_nq_DvlQfdn9DC1kkVivCczPgJVH1aWxBdRAl-bEmszwVO359AdJoNelYh_HtOFUOvvzUo74KGlMd6P6x3QOQNx9waQdyGD_xlggl5dfHn580n3bK7U0Zpd4Eeu6UgOx1HMQdvOrc1y0SmWCNSo2JJR31sfQhfFsoWcupaOyel0Fk4AEYNKNtD6F3ODERrF-ioTjfRe_33YZGfHPmwqlzKXivOhQouyTKl6PPrMX3iE60z0SftiTa22MkHAuFfNyQViuzl55OGUX1fHJm85np0JxXrxzk0OZWx317f7r006eN14qv7DvM4DiIINjcpWa2qj-RlXXmk4xabvm0juEd8EUhBcbJXq-8zpiZUI-HntgzRBwRycfXh0H_uzxpugeSj76xunESC6-7p8iu7sfVGlFqyEVJE2ny4OpI7UeYLRKYscW6PkXg65NRa0HKFZ6HF2Mzwl3aBvttMvisUsBFV25LG0DWwHp03-IAf0x0bREpem67tNl9gWrz-Nr8oSNbPqeegppA4qxg3-x02TK5nScZmaoC_dFzabHHW0tGyX5_DaRyoHlJ_ACtnf9pqx0_OS04mA4GHksnDsVs2hzu5mA6tFiqNeBsJTmW9nCd1v5afvJJ-r8HZtE1vjXUyYSefSWUg5kRJX-L2qpNhGPtHeCRuFuwA1YarXgfIX08xN1A9x0FBZrGZzpfmoPrzIhwOtdiflV71=w423-h302-no?authuser=1" >
    </p>
  </footer>
</div>
</body>
</html>